footer {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-gap: 40px;
}

/* footer p {
  color: #66645e;
  font-size: 18px;
} */

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 30px;
}

.social p {
  margin-right: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  grid-gap: 20px;
}

.social-links li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  /* font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px; */

  grid-gap: 5px;
}

.divider-solid {
  border: 1px solid #dfdfdf;
  width: 100%;
  max-width: 600px;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  position: static;
  grid-gap: 100px;
}

.more-help-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  grid-gap: 20px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 15px;
}

.news-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 40px;
}

.news-email input {
  /* position: absolute; */
  width: 290px;
  height: 40px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;

  padding-left: 15px;
}

.news-email button {
  background: none;
  border: none;

  height: 100%;
}

.news-email button:hover {
  cursor: pointer;
}

.credit p {
  /* font-weight: 500; */
}

span.love {
  /* font-weight: 600;
  font-size: 24px;
  color: #f2c94c; */
}

fieldset {
  border: none;
}
