/* Formatação Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;

  font-family: sans-serif; /* Fonte padrão */
  color: #303030; /* Cor padrão de todos os textos */
}

body {
  background-color: #f4f4f4;
}

main,
section,
footer {
  width: 100%;
  /* width: 100vw; /* mantém o mesmo largura da viewport (tela) */
  /* position: relative; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 75px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.brand {
  height: 85px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.brand a {
  /* position: absolute; */
  width: 136px;
  height: 55px;
  left: 0px;

  font-family: "Ubuntu", sans-serif;
  line-height: 55.15px;
  font-size: 48px;
  font-weight: 700;

  color: rgb(0, 0, 0);
}

hr.solid {
  border-top: 3px solid #bbb;
}
