.button {
  max-width: 250px;
  max-height: 50px;

  padding: 12px;

  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;

  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid;

  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-login {
  /* width: 130px;
  height: 40px; */

  background-color: #fff;

  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;

  border: 2px solid #7a3e98;
  box-sizing: border-box;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button-login:hover {
  background: #fdefff;
  cursor: pointer;
}

.button-subscribe {
  background-color: #7a3e98;
  /* border-color: #7a3e98; */
  border: none;

  color: #fff;
}

.button-subscribe:hover {
  background-color: #613a95;
}

.button-support-us {
  width: 150px;

  background: linear-gradient(0deg, #70c217, #70c217);
  border: none;

  line-height: 22px;
  color: #fff;
  letter-spacing: 0.015em;
}

.button-support-us:hover {
  background: #2fdf84;
}

.share-button {
  width: 120px;
  height: 30px;

  background: #2ca639;
  line-height: 22px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.btn-whatsapp {
  background-color: #2ca639;
}

.btn-facebook {
  background-color: #3a5999;
}

.btn-instagram {
  background-color: #dd2a7b;
}

.btn-twitter {
  background-color: #2aa9e0;
}

.btn-linkedin {
  background-color: #0077b5;
}

.btn-whatsapp:hover {
  background-color: #33c042;
  cursor: pointer;
}

.btn-facebook:hover {
  background-color: #4469b3;
  cursor: pointer;
}

.btn-instagram:hover {
  background-color: #f72f89;
  cursor: pointer;
}

.btn-twitter:hover {
  background-color: #30bdfa;
  cursor: pointer;
}

.btn-linkedin:hover {
  background-color: #0187cf;
  cursor: pointer;
}
