.button-login {
  /* width: 130px;
  height: 40px; */

  background-color: #fff;

  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;

  border: 2px solid #7a3e98;
  box-sizing: border-box;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button-login:hover {
  background: #fdefff;
  cursor: pointer;
}

.button-signup {
  background-color: #7a3e98;

  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;

  border: 2px solid #7a3e98;
  box-sizing: border-box;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-signup:hover {
  background-color: #613a95;
  border-color: #613a95;
  cursor: pointer;
}

.button-support-us {
  position: relative;
  width: 150px;
  height: 50px;

  /* background: #70C217; */
  background: linear-gradient(0deg, #70c217, #70c217);

  /* font-family: Montserrat;
  font-weight: 600;
  font-size: 18px; */
  line-height: 22px;

  /* color: #fff; */
  letter-spacing: 0.015em;

  border: 2px solid #70c217;
  box-sizing: border-box;
  border-radius: 6px;
}

.button-support-us:hover {
  background: #2fdf84;
  border-color: #2fdf84;
  cursor: pointer;
}

.share-button {
  width: 120px;
  height: 30px;

  background: #2ca639;
  line-height: 22px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.btn-whatsapp {
  background-color: #2ca639;
}

.btn-facebook {
  background-color: #3a5999;
}

.btn-instagram {
  background-color: #dd2a7b;
}

.btn-twitter {
  background-color: #2aa9e0;
}

.btn-linkedin {
  background-color: #0077b5;
}

.btn-whatsapp:hover {
  background-color: #33c042;
  cursor: pointer;
}

.btn-facebook:hover {
  background-color: #4469b3;
  cursor: pointer;
}

.btn-instagram:hover {
  background-color: #f72f89;
  cursor: pointer;
}

.btn-twitter:hover {
  background-color: #30bdfa;
  cursor: pointer;
}

.btn-linkedin:hover {
  background-color: #0187cf;
  cursor: pointer;
}
