#navbar {
  background-color: #f4f4f4;
}

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 980px;
  margin: auto;
}

header img.brand-menu {
  width: 150px;
  margin-left: 20px;
  padding: 15px 0px;

  transition: all 250ms linear 0s;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav > li {
  list-style: none;
  padding: 15px;
  transition: all 250ms linear 0s;
}

.navbar-nav > li > a {
  text-decoration: none;
  color: #303030;
}

#nav-support-us {
  color: #70c217;
}

.navbar-nav > li > a:hover,
#nav-support-us:hover {
  color: #8f16a2;
}

.navbar-nav > li > a.button-subscribe {
  background-color: #7a3e98;

  color: #fff;
  font-family: "Inter", sans-serif;
  /* font-size: 1.6rem; */
  /* font-weight: 500; */
  letter-spacing: 0.05em;

  border: 2px solid #7a3e98;
  box-sizing: border-box;
  border-radius: 5px;

  padding: 4px 15px;
}

.navbar-nav > li > a.button-subscribe:hover {
  background-color: #613a95;
  border-color: #613a95;
}

/*===
MEDIA QUERIES
===*/
@media (max-width: 768px) {
  header img.brand-menu {
    width: 100px;
  }

  ul.navbar-nav > li {
    padding: 10px;
  }
}

@media (max-width: 550px) {
  nav,
  .divisor-menu {
    display: none;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 10px;
  }

  .one,
  .two,
  .three {
    background-color: #7a3e98;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }

  /* Full screen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #7a3e98;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.3s;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    background-color: #ffffff;
    transform: rotate(45deg) translate(7px, 7px);
    /* ↑ rotate rotaciona e translate corrige a posição nos eixos X/Y */
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0; /* usaremos opacidade para efeito de transição*/
  }

  .menu-section.on .menu-toggle .three {
    background-color: #ffffff;
    transform: rotate(-45deg) translate(8px, -9px);
    /* ↑ rotate rotaciona e translate corrige a posição nos eixos X/Y */
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block; /* para ficar um abaixo do outro */
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;

    color: #fff;
    font-size: 2.8rem;
    line-height: 4rem;

    display: block;
  }

  #nav-support-us {
    color: #ffd350;
  }

  #nav-support-us:hover {
    color: #ffd350;
  }

  .menu-section.on nav ul li a.button-subscribe {
    background-color: #fff;
    border-color: #fff;
    color: #7a3e98;

    margin-top: 15vh;
  }

}
