#about-section {
  position: relative;
  width: 100%;
  height: 625px;

  display: flex;
  justify-content: center;
  /* align-items: center; */

  overflow: hidden;
}

/* #about-section img {
  position: absolute;
} */

#about-section img.back-about {
  margin-top: 80px;
  /* max-width: 100%; */
  /* min-width: 100%; */
  min-height: 545px;
}

.about {
  position: absolute;
  max-width: 1280px;
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;

  padding-bottom: 60px;
}

.about-description {
  max-width: 705px;
}

.about img {
  margin-bottom: 60px;
}

h2 {
  /* font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 80px; */
  /* color: #f2f2f2; */
}

.about-description p,
span {
  /* color: #f2f2f2;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em; */
}

span {
  /* font-weight: 600;
  color: #f2c94c; */
}
