.help {
  display: flex;
  flex-direction: row;
  background-color: #ff0;
  width: 100%;
}

.help-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 68px;

  /* position: absolute; */
  width: 705px;
  height: 230px;
}
