.button-login {
  position: relative;
  width: 130px;
  height: 40px;

  background: #ffffff;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #6c117b;

  /* display: flex; */
  align-items: center;
  text-align: center;
  /* letter-spacing: -0.015em; */
  letter-spacing: 0.015em;

  border: 2px solid #6c117b;
  box-sizing: border-box;
  border-radius: 6px;

  cursor: pointer;
}

.button-login:hover {
  background: #fdefff;
  cursor: pointer;
}

.button-signup {
  position: relative;
  width: 130px;
  height: 40px;

  background: #6c117b;

  font-family: Montserrat;
  /* font-weight: 400; */
  font-size: 18px;
  line-height: 22px;

  color: #fff;

  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;

  border: 2px solid #6c117b;
  box-sizing: border-box;
  border-radius: 6px;
}

.button-signup:hover {
  background: #8f16a2;
  cursor: pointer;
}

.button-help {
  position: relative;
  width: 150px;
  height: 50px;

  /* background: #70C217; */
  background: linear-gradient(0deg, #70C217, #70C217);

  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #fff;
  letter-spacing: 0.015em;

  border: 2px solid #70C217;
  box-sizing: border-box;
  border-radius: 6px;
}

.button-help:hover {
    background: #2FDF84;
    border-color: #2FDF84;
    cursor: pointer;
  }