* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --color-purple-pri: #653A96;
  --color-purple-sec: #7A3E98;
  --color-purple-hover: #613A95;
  --color-yellow: #FFD350;

}

html {
  font-size: 62.5%;
  /* ↑ A cada 1rem será considerado 10px: esta declaração controlará todas a propriedades do elementos filhos */

  /* Um font-size com valor de 100% = 16px (padrão para navegadores = 12pt no word) */

  /* 
  `em` = multiplica os pixels declarados no elemento Superior ("a cada Pai")
  `rem` = multiplica pelo valor definido no root (como por exemplo no "html/body")
   */
}

html,
body {
  /* height: 100vh; */

  background-color: #f4f4f4;

  font-family: "Inter", sans-serif; /* Fonte padrão */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem; /* irá observar o valor do root em HTML e multiplicar*/

  font-weight: 400; /* Espessura regular */

  line-height: 2.6rem;
  letter-spacing: 0.025em;
  color: rgb(17, 17, 17); /* Cor padrão de todos os textos */
}

.container {
  width: 90%;
  max-width: 1280px;

  margin-right: auto;
  margin-left: auto;
}

a {
  font-weight: 600;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 6.8rem;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.6rem;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
}


/* MEDIA QUERIES: irão analisar os breakpoints (modelo de dispositivo) para alterar o css */
/* ↓ Aplica o css deste bloco até larguras da viewport máxima*/
@media (max-width: 890px) {
  html {
    font-size: 50%; /* O tamanho do texto é alterado e todos os textos rem também seguem a proporção */
  }
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 425px) {
  /* html {
    font-size: 30%;
  } */

  html body .button {
    font-size: 2.1rem;
  }
}
