footer {
  width: 100%;

  background-color: #111111;
  color: #fff;

  padding-bottom: 30px;
}

footer,
div.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-wrapper {
  width: 90%;
  max-width: 980px;
}

footer > .footer-wrapper > div {
  margin-top: 40px;

  display: flex;
  align-items: center;

  width: 100%;
  justify-content: center;
}

.footer-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.brand {
  flex-direction: column;
}

.brand > p {
  margin-top: 5px;
}

.brand {
  flex-direction: column;
}

/*===
REDES SOCIAIS
===*/
.social-links {
  display: grid;
  list-style: none;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-items: center;

  margin-left: 15px;
}

.social-links > li > a {
  display: flex;
  align-items: center;
}

.social-links > li > a > img {
  margin-right: 5px;
}

hr {
  margin-top: 30px;
  width: 50vw;
  max-width: 520px;
}

footer > div.footer-wrapper > div.sections {
  display: grid;
  align-items: flex-start;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
}

/*===
SESSÕES DE LINKS
===*/
.sections {
  width: 100%;
}

.sections > div ul,
fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.sections li {
  margin-top: 10px;
  list-style: none;
}

form.news fieldset {
  display: flex;

  height: 40px;
}

form.news input {
  max-width: 290px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;

  padding-left: 15px;
}

form.news button {
  background: none;
  border: none;
  height: 100%;
}

form.news button:hover {
  cursor: pointer;
}

span.love {
  color: #ffd350;
  font-size: 2.2rem;
}

/*===
MEDIA QUERIES
===*/
@media (max-width: 560px) {
  .social-links {
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
  }
}
