.resources {
    width: 830px;
    height: 525px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.frame {
  width: 176px;
  /* height: 232px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.frame img {
  height: 134px;
}
