/* .button-login {
  width: 130px;
  height: 40px;

  background: #ffffff;

  letter-spacing: 0.015em;

  border: 2px solid #6c117b;
  box-sizing: border-box;
  border-radius: 6px;

  cursor: pointer;
}

.button-login:hover {
  background: #fdefff;
  cursor: pointer;
} *




.button-support-us {
  position: relative;
  width: 150px;
  height: 50px;

  /* background: #70C217; *
  background: linear-gradient(0deg, #70C217, #70C217);

  /* font-family: Montserrat;
  font-weight: 600;
  font-size: 18px; *
  line-height: 22px;

  /* color: #fff; *
  letter-spacing: 0.015em;

  border: 2px solid #70C217;
  box-sizing: border-box;
  border-radius: 6px;
}

.button-support-us:hover {
    background: #2FDF84;
    border-color: #2FDF84;
    cursor: pointer;
  }

.share-button{
  width: 120px;
  height: 30px;

  background: #2CA639;

  /* font-family: Montserrat;
  /* font-weight: 400;
  font-size: 18px; *
  line-height: 22px;
  /* color: #fff; *


  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.btn-whatsapp {
  background-color: #2CA639;
}

.btn-facebook {
  background-color: #3A5999;
}

.btn-instagram {
  background-color: #DD2A7B;
}

.btn-twitter {
  background-color: #2AA9E0;
}

.btn-linkedin {
  background-color: #0077B5;
}

.btn-whatsapp:hover {
  background-color: #33c042;
  cursor: pointer;
}

.btn-facebook:hover {
  background-color: #4469b3;
  cursor: pointer;
}

.btn-instagram:hover {
  background-color: #f72f89;
  cursor: pointer;
}

.btn-twitter:hover {
  background-color: #30bdfa;
  cursor: pointer;
}

.btn-linkedin:hover {
  background-color: #0187cf;
  cursor: pointer;
}
*/