#about {
  margin: 0px auto;
  padding-top: 110px;

  font-weight: 400;
}

#about > img {
  position: absolute;
}

#about .background {
  position: relative;

  background-image: linear-gradient(
    40deg,
    var(--color-purple) 15%,
    var(--color-purple-lighter) 60%
  );

  /* background-image: linear-gradient(
    40deg,
    var(--color-pink-dark) 5%,
    var(--color-pink) 50%
  ); */

  transform: skewY(3deg);
}

#about .background:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;

  background-image: linear-gradient(
    160deg,
    var(--color-purple) 15%,
    var(--color-purple-lighter) 60%
  );

  /* background-image: linear-gradient(
    160deg,
    var(--color-pink-dark) 5%,
    var(--color-pink) 50%
  ); */

  left: 0px;
  bottom: -30px;

  transform: skewY(-3deg);
  /* border-radius: 100% 50%; */
}

#about .container {
  position: relative;

  display: flex;
  justify-content: space-between;

  transform: skewY(-3deg);
}

#about .about-description {
  display: flex;
  flex-direction: column;

  width: 65%;
  max-width: 710px;
  margin-top: 70px;
  margin-bottom: 120px;

  line-height: 2.6rem;
  color: #fff;
}

#about .about-description p {
  margin-top: 10px;
}

#about .about-description p > span {
  font-weight: 600;
  color: #ffd350;
}

#about .container img {
  position: absolute;
  top: -60px;
  right: 0px;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
  #about .about-description {
    width: 100%;

    margin-top: 30px;
    margin-bottom: 60px;
  }

  #about .container img {
    display: none;
  }
}
