#support-us {
  color: #fff;
  font-weight: 400;

  padding-top: 80px;
  display: flex;
  align-items: center;
}

#support-us > div {

  background-image: linear-gradient(
    to right,
    var(--color-purple) 10%,
    var(--color-purple-lighter) 60%
  );

  /* background-image: linear-gradient(
    to right,
    var(--color-pink-dark) 10%,
    var(--color-pink) 60%
  ); */

  width: 100%;
  padding: 60px 0px;
}

#support-us .container {
  display: flex;
  justify-content: space-between;
}

#support-us .support-us-about {
  width: 50%;
  padding-right: 50px;
}

#support-us .support-us-about p {
  max-width: 600px;
  margin-top: 10px;
}

#support-us .support-us-pricing > p {
  max-width: 390px;
  margin: 15px 0px;
}

#price p {
  font-size: 1.8rem;
}

#price h3 {
  color: var(--color-yellow);
  font-size: 4.8rem;
  line-height: 5.8rem;
}

/* MEDIA QUERIES */
@media (max-width: 1150px) {
  #support-us .support-us-pricing {
    max-width: 40%;
  }
}

@media (max-width: 680px) {
  #support-us .container {
    flex-direction: column;
  }

  #support-us .support-us-about {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 30px;
  }

  #support-us .support-us-pricing {
    max-width: 80%;
  }
}
