form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.group {
  border: none;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  width: 100%;
}

label,
a.terms {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;

  color: #696f79;
  /* margin-bottom: 8px; */
}

.field input,
select {
  width: 100%;
  height: 45px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #1565d8;

  padding-left: 15px;
  padding-right: 15px;

  margin-top: 10px;
  margin-bottom: 25px;
}

em {
  font-weight: 500;
  font-size: 14px;
}

.field-terms {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  grid-gap: 12px;

  height: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

a.terms {
  color: #6c117b;
  text-decoration: underline;
}
