.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 60px;
}

.image-region {
  max-width: 650px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: visible;
  padding-right: 15px;

  position: relative;
}

img.circle {
  position: absolute;
  right: 440px;
  bottom: 460px;
  z-index: -1;
}

img.spots {
  position: absolute;
  right: 190px;
  bottom: 590px;
}

.form-region {
  max-width: 495px;
  /* min-width: 380; */
  padding: 58px 40px 30px 40px;
}

.register {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
}

h3 {
  color: #303031;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

p {
  color: #8692a6;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
