<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@</title>

    <link rel="stylesheet" href="../../../../public/css/main.css" />
    <link rel="stylesheet" href="../../../../public/css/navbar.css" />
    <link rel="stylesheet" href="../../../../public/css/buttons.css" />
    <link rel="stylesheet" href="../../../../public/css/conteudo.css" />
    <link rel="stylesheet" href="../../../../public/css/resources.css" />
    <link rel="stylesheet" href="../../../../public/css/apoio.css" />
  </head>

  <body>
 
    <!-- Navbar fixo -->
    <nav class="navbar fixed-top">
      <div class="nav">
        <div class="brand">
          <!-- Adicionar "img" com o logo dentro de "a" -->
          <a href="#">LOGO</a>
        </div> 
        <div id="navbarLinks">
          <ul class="navbar-nav">
            <li class="nav-link">O que é?</li>
            <li class="nav-link">Recursos</li>
            <li class="nav-link nav-help">Apoie</li>
            <li>|</li>
            <li>
              <div class="nav-buttons">
                <a href="#"><button class="button-login">Entrar</button></a>
                <a href="#"
                  ><button class="button-signup">Inscreva-se</button></a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Conteúdo da página -->
    <section class="content">

      
      <section id="presentation-section">
        <header>
          <div>
            <h1>Desburocracia das doações</h1>
            <p>
              Estamos vindo para agilizar seu atendimento nas doações de sangue
              de uma vez por todas.
            </p>
            <div class="interested-presentation">
              <p>Inscreva-se para ser avisado no lançamento!</p>
              <button class="button-signup">Quero ser avisado</button>
            </div>
          </div>

          <div class="banner">
            <img src="../../../../public/images/illustration-of-people-donating-blood-2707824.jpg" alt="Doadores de sangue" width="708px">
          </div>
        </header>
      </section>

      <section id="about-section">
        <div class="sobre">
          <h3>O que é @?</h3>
          <p>
            Somos uma startup social que irá disponibilizar uma plataforma
            digital de doações onde você poderá demonstrar sua solidariedade
            através de doações gratuitas de forma fácil e sem burocracia. E
            juntos ajudaremos as mais diversas causas sociais e ambientas para o
            bem da humanidade e do seu futuro.
            <br />
            E se você for doador de sangue poderá ser um dos primeiros a
            participar desta nova revolução social e começar a ajudar muito mais
            pessoas além do seu sangue apenas agendando suas doações através da
            @ com os hemocentros parceiros.
          </p>
          <!-- <p>
            E se você for doador de sangue poderá ser um dos primeiros a
            participar desta nova revolução social e começar a ajudar muito mais
            pessoas além do seu sangue apenas agendando suas doações através da
            @ com os hemocentros parceiros.
          </p> -->
        </div>
      </section>

      <section id="resources-section">
        <div class="resources">
          <div class="lin">
            <div class="frame">
              <img
                src="../../../../public/icons/resources/ringing.svg"
                alt=""
              />
              <p>Seja avisado de necessidades de sangue nos hemocentros</p>
            </div>
            <div class="frame">
              <img src="../../../../public/icons/resources/add.svg" alt="" />
              <p>Seja avisado de necessidades de sangue nos hemocentros</p>
            </div>
            <div class="frame">
              <img src="../../../../public/icons/resources/verify.svg" alt="" />
              <p>Seja avisado de necessidades de sangue nos hemocentros</p>
            </div>
          </div>

          <div class="lin">
            <div class="frame">
              <img src="../../../../public/icons/resources/bulb.svg" alt="" />
              <p>Seja avisado de necessidades de sangue nos hemocentros</p>
            </div>
            <div class="frame">
              <img src="../../../../public/icons/resources/reward.svg" alt="" />
              <p>Seja avisado de necessidades de sangue nos hemocentros</p>
            </div>
          </div>
        </div>

        <div class="interested-resources">
          <p>
            <span>Gostou da novidade?</span> <br />
            Inscreva-se para ser o primeiro a ficar sabendo no lançamento.
          </p>
          <button class="button-signup">Me avise primeiro!</button>
        </div>
      </section>

      <section id="help-section">
        <div class="help">
          <div class="help-about">
            <h3>Apoie o projeto</h3>
            <p>
              Este projeto, assim como muitas pessoas e inclusive a natureza
              conta com seu apoio para ser realizado. Para evoluirmos a
              plataforma e ajudar as causas que apoiamos abrimos um
              financiamento coletivo (crowdfunding) com total transparência onde
              você pode ajudar nessa revolução.
            </p>
          </div>
          <div class="help-precing">
            <div class="cost">
              <p>A partir de</p>
              <p>R$5,00</p>
            </div>
            <p>
              O apoio pode ser realizado através da plataforma de crowdfunding
              catarse.me
            </p>
            <button class="button-help">Apoiar</button>
          </div>
        </div>
      </section>

      <footer>
        <div class="brand">
          <!-- Adicionar "img" com o logo dentro de "a" -->
          <a href="#">LOGO</a>
          <p>Muito mais que apenas uma doação!</p>
        </div>

        <div class="social">
          <ul class="social-links">
            <li>
              <img src="#" alt="" class="social-media-img" />
              <p>Facebook</p>
            </li>
            <li>
              <img src="#" alt="" class="social-media-img" />
              <p>Instagram</p>
            </li>
            <li>
              <img src="#" alt="" class="social-media-img" />
              <p>Twitter</p>
            </li>
            <li>
              <img src="#" alt="" class="social-media-img" />
              <p>Linkedin</p>
            </li>
          </ul>
        </div>

        <hr class="divider-solid" />

        <div class="sections">
          <div class="sobre">
            <p>Saiba mais</p>

            <ul class="links">
              <li>Quem somos</li>
              <li>Entrar em contato</li>
              <li>Nossa equipe</li>
              <li>Ajude a construir</li>
            </ul>
          </div>

          <div class="ajuda">
            <p>Ajuda</p>

            <ul class="links">
              <li>Central de ajuda</li>
              <li>Responsabilidade e Segurança</li>
              <li>Termos de uso</li>
              <li>Politica de privacidade</li>
              <li>Créditos</li>
            </ul>
          </div>

          <div class="newsletter">
            <p>Assine nossa news</p>
            <div class="news-email">
              <input type="email" id="email" placeholder="Digite seu e-mail" />
              <button></button>
            </div>
          </div>
        </div>

        <div class="creditos">
          <p>Feito com <span>♥</span> | 2020</p>
        </div>
      </footer>
      
    </section>
    
  </body>
</html>
