<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ↑ width = largura do dispositivo -->

    <title>TROPIA | Doe de Graça</title>

    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Ubuntu:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../public/css/default.css" />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-page/navbar.css"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-page/thanks/thanks.css"
    />
    <link rel="stylesheet" href="../../../../public/css/footer.css" />

    
  </head>

  <body>
    <!-- Navbar fixo -->
    <header id="navbar" class="fixed-top">
      <div class="nav-bar">
        <a href="#">
          <img
            src="../../../../public/images/logo-black.svg"
            class="brand-menu"
            alt="Logo da TROPIA"
          />
        </a>
        <div class="menu-section">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
          <nav>
            <ul class="navbar-nav">
              <li><a href="#about-section">O que é?</a></li>
              <li><a href="#resources-section">Recursos</a></li>
              <li>
                <a href="#support-us-section" id="nav-support-us"> Apoie </a>
              </li>
              <li class="divisor-menu">|</li>
              <li>
                <a href="#" id="" class="button button-subscribe">Inscreva-se</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- Conteúdo da página -->
    <main>
      <div class="container">
        <section>
          <h3>Obrigado por se inscrever ;)</h3>
          <p>
            Assim que a plataforma for lançada em breve te avisaremos de
            primeira para ter uma vida com menos burocracia e praticar ainda
            mais sua solidariedade.
            <br /><br />
            <b>Enquanto isso, queremos te ouvir!</b> Conta pra gente suas
            experiências com doações de sangue ou o que gostaria que melhorasse,
            assim vamos poder ajudar muito mais.
          </p>
          <a href="#" class="button button-opnion">Opinar!</a>
        </section>

        <section>
          <b>
            VAMOS CAUSAR JUNTOS? <br />
            Você ainda pode apoiar este projeto apenas convidando seus amigos ou
            conhecidos para nos conhecer.
          </b>
          <div class="share">
            <b>Compartilhe no</b>
            <ul>
              <li>
                <a href="#" class="button share-button btn-whatsapp">
                  <img
                    src="../../../../public/icons/socialmedia/whatsapp-v-white.svg"
                    alt=""
                    height="20px"
                  />
                  WhatsApp
                </a>
              </li>

              <li>
                <a href="#" class="button share-button btn-facebook">
                  <img
                    src="../../../../public/icons/socialmedia/facebook-v-white.svg"
                    alt=""
                    height="20px"
                  />
                  Facebook
                </a>
              </li>

              <li>
                <a href="#" class="button share-button btn-instagram">
                  <img
                    src="../../../../public/icons/socialmedia/instagram-v-white.svg"
                    alt=""
                    height="20px"
                  />
                  Instagram
                </a>
              </li>

              <li>
                <a href="#" class="button share-button btn-twitter">
                  <img
                    src="../../../../public/icons/socialmedia/twitter-v-white.svg"
                    alt=""
                    height="20px"
                  />
                  Twitter
                </a>
              </li>

              <li>
                <a href="#" class="button share-button btn-linkedin">
                  <img
                    src="../../../../public/icons/socialmedia/linkedin-v-white.svg"
                    alt=""
                    height="20px"
                  />
                  LinkedIn
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>

    <!-- Rodapé -->
    <footer>
      <div class="footer-wrapper">
        <div class="brand">
          <a href="#">
            <img
              src="../../../../public/images/logo-white.svg"
              alt="Logo da TROPIA"
            />
          </a>
          <p>Muito mais que apenas uma doação!</p>
        </div>

        <div class="social-network">
          <p>Siga-nos:</p>
          <ul class="social-links">
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/facebook.svg"
                  alt="Facebook"
                  class="social-media-img"
                />
                Facebook
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/instagram.svg"
                  alt="Instagram"
                  class="social-media-img"
                />
                Instagram
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/twitter.svg"
                  alt="Twitter"
                  class="social-media-img"
                />
                Twitter
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/linkedin.svg"
                  alt="LinkedIn"
                  class="social-media-img"
                />
                Linkedin
              </a>
            </li>
          </ul>
        </div>

        <hr class="divider-solid" />

        <div class="sections">
          <div>
            <b>Saiba mais</b>

            <ul class="links">
              <li><a href="#">Quem somos</a></li>
              <li><a href="#">Entrar em contato</a></li>
              <li><a href="#">Nossa equipe</a></li>
              <li><a href="#">Ajude a construir</a></li>
            </ul>
          </div>

          <div>
            <b>Ajuda</b>

            <ul class="links">
              <li><a href="#">Central de ajuda</a></li>
              <li><a href="#">Responsabilidade e Segurança</a></li>
              <li><a href="#">Termos de uso</a></li>
              <li><a href="#">Politica de privacidade</a></li>
              <li><a href="#">Créditos</a></li>
            </ul>
          </div>

          <form class="news">
            <label for="newsletter"><b>Assine nossa news</b></label>

            <fieldset>
              <input
                type="email"
                name="newsletter"
                id="newsletter"
                placeholder="Digite seu e-mail"
              />
              <button type="submit" title="Inscrever e-mail">
                <img
                  src="../../../../public/icons/resources/button-news.svg"
                  alt="Assinar newsletter"
                />
              </button>
            </fieldset>
          </form>
        </div>

        <div class="credit">
          <p>Feito com <span class="love">♥</span> por TROPIA | 2021</p>
        </div>
      </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="../../../../public/scripts/responsive-menu.js"></script>
  </body>
</html>
