<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@</title>

    <link rel="stylesheet" href="../../../../public/css/landing-page/main.css" />
    <link rel="stylesheet" href="../../../../public/css/landing-page/navbar.css" />
    <link rel="stylesheet" href="../../../../public/css/landing-page/buttons.css" />
    <link rel="stylesheet" href="../../../../public/css/landing-page/conteudo.css" />
    <link rel="stylesheet" href="../../../../public/css/landing-page/resources.css" />
  </head>
  <body>
    <!-- Navbar fixo -->
    <nav class="navbar fixed-top">
      <div class="nav">
        <div class="brand">
          <!-- Adicionar "img" com o logo dentro de "a" -->
          <a href="#">LOGO</a>
        </div>
        <div id="navbarLinks">
          <ul class="navbar-nav">
            <li class="nav-link">O que é?</li>
            <li class="nav-link">Recursos</li>
            <li class="nav-link nav-help">Apoie</li>
            <li>|</li>
            <li>
              <div class="nav-buttons">
                <a href="#"><button class="button-login">Entrar</button></a>
                <a href="#"
                  ><button class="button-signup">Inscreva-se</button></a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Conteúdo da página -->
    <section class="content">
      <div class="header">
        <div class="thanks">
          <h2>Obrigado por se inscrever ;)</h2>
          <p>
            Assim que a plataforma for lançada em breve te avisaremos de
            primeira para ter uma vida com menos burocracia e praticar ainda
            mais sua solidariedade.
            <br />
            <b>Enquanto isso, queremos te ouvir!</b> Conta pra gente suas
            experiências com doações de sangue ou o que gostaria, assim vamos
            poder ajudar muito mais.
          </p>
          <button class="button-signup">Opinar!</button>
        </div>

        <div class="share">
          <div class="social">
            <ul class="social-links">
              <li>
                <button class="button-whatsapp">
                  <img
                    src="../../../../public/icons/socialmedia/whatsapp.svg"
                    alt=""
                    height="20px"
                  />
                  WhatsApp
                </button>
              </li>

              <li>
                <button class="button-facebook">
                  <img
                    src="../../../../public/icons/socialmedia/facebook.svg"
                    alt=""
                    height="20px"
                  />
                  Facebook
                </button>
              </li>

              <li></li>

              <li></li>

              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
