.button {
  max-width: 250px;
  max-height: 50px;

  padding: 12px;

  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;

  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-login {
  /* width: 130px;
  height: 40px; */

  background-color: #fff;

  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;

  border: 2px solid #7a3e98;
  box-sizing: border-box;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button-login:hover {
  background: #fdefff;
  cursor: pointer;
}

.button-subscribe {
  background-color: var(--color-purple);
  /* background-color: var(--color-pink); */
  border: none;

  color: #fff;
}

.button-subscribe:hover {
  background-color: var(--color-purple-lighter);
  /* background-color: var(--color-pink-dark); */
  /* filter: brightness(90%); */
}

.button-support-us {
  width: 150px;

  background: var(--color-green);
  border: none;

  line-height: 22px;
  color: #fff;
  letter-spacing: 0.015em;
}

.button-support-us:hover {
  background: var(--color-green-lighter);
}

.share-button {
  width: 120px;
  height: 30px;

  background: #2ca639;
  line-height: 22px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.btn-whatsapp {
  background-color: #2ca639;
}

.btn-facebook {
  background-color: #3a5999;
}

.btn-instagram {
  background-color: #dd2a7b;
}

.btn-twitter {
  background-color: #2aa9e0;
}

.btn-linkedin {
  background-color: #0077b5;
}

.btn-whatsapp:hover {
  background-color: #33c042;
  cursor: pointer;
}

.btn-facebook:hover {
  background-color: #4469b3;
  cursor: pointer;
}

.btn-instagram:hover {
  background-color: #f72f89;
  cursor: pointer;
}

.btn-twitter:hover {
  background-color: #30bdfa;
  cursor: pointer;
}

.btn-linkedin:hover {
  background-color: #0187cf;
  cursor: pointer;
}

.btn-form-user {
  height: 100%;
  background-color: transparent;
  border-color: var(--color-purple);

  color: var(--color-purple);

  padding: 8px;

  font-family: "Inter", sans-serif; /* Fonte padrão */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;

  transform: scale(0.82);
  transition-duration: 0.3s;
}

.btn-form-user:hover {
  text-decoration: none;
}

.btn-form-user.on {

  background: var(--color-green);
  border: none;

  color: #fff;
  transform: scale(1);
}

