<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TROPIA | Bem-vindo</title>

    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Ubuntu:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/form/form.css"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/index/contact-us.css"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../public/css/global.css" />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/navbar.css"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/buttons.css"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/index/banner.css"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/index/about.css"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/index/resources.css"
    />
    <link
      rel="stylesheet"
      href="../../../../public/css/landing-launch/index/support-us.css"
    />
    <link rel="stylesheet" href="../../../../public/css/footer.css" />
  </head>

  <!-- <body style="overflow: hidden"> -->
  <body>
    <!-- Navbar fixo -->
    <header id="navbar" class="fixed-top">
      <div class="in-production">
        <strong>Atenção: Página em Desenvolvimento!</strong>
      </div>
      <div class="container">
        <a href="./index.html">
          <img
            src="../../../../public/images/logo-black.svg"
            class="brand-menu"
            alt="Logo da TROPIA"
          />
        </a>
        <div class="menu-section">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <!-- <div class="three"></div> -->
          </div>
          <nav>
            <ul class="navbar-nav">
              <li><a href="./index.html#about">O que é?</a></li>
              <li><a href="./index.html#resources">Recursos</a></li>
              <li>
                <a href="./index.html#support-us" id="nav-support-us">
                  Apoie
                </a>
              </li>
              <li><a href="./index.html#">Para Hemocentros</a></li>
              <li class="divisor-menu">|</li>
              <li>
                <a href="./form.html" id="" class="button button-subscribe"
                  >Inscreva-se</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- Conteúdo da página -->
    <div>
      <main>
        <!-- Apresentação -->
        <section id="banner">
          <div class="container">
            <div>
              <h1>Desburocracia das doações</h1>
              <h2>
                Estamos vindo para agilizar seu atendimento nas doações de
                sangue de uma vez por todas.
              </h2>
              <div class="interest">
                <b>Inscreva-se para ser avisado no lançamento!</b>

                <!-- <div> -->
                <a
                  href="./form.html"
                  class="button button-subscribe"
                >
                  Quero ser avisado
                </a>
                <!-- </div> -->
              </div>
            </div>

            <img
              src="../../../../public/images/people-donating-blood.jpg"
              alt="Doadores de sangue"
              class="banner-img"
            />
          </div>
          <div class="scroll-down">
            <img
              src="../../../../public/images/mouse-scroll.svg"
              alt="Role para baixo"
              width="18px"
              height="32px"
            />
            <p>Role para baixo</p>
          </div>
        </section>

        <!-- Sobre Nós -->
        <section id="about" name="about">
          <div class="background">
            <div class="container">
              <div class="about-description">
                <h2>O que é a TROPIA?</h2>
                <p>
                  Somos uma startup social que irá disponibilizar uma plataforma
                  digital de doações onde você poderá demonstrar sua
                  solidariedade através de
                  <span>doações gratuitas de forma fácil e sem burocracia</span
                  >. E juntos ajudaremos as mais diversas causas sociais e
                  ambientas para o bem da humanidade e do seu futuro.
                  <br /><br />
                  E se você for <span>doador de sangue</span> poderá ser um dos
                  primeiros a participar desta nova revolução social e começar a
                  ajudar muito mais pessoas além do seu sangue apenas agendando
                  suas doações através da TROPIA com os hemocentros parceiros.
                </p>
              </div>

              <img
                src="../../../../public/icons/resources/spots-large.svg"
                alt=""
              />
            </div>
          </div>
        </section>

        <!-- Recursos da Plataforma -->
        <section id="resources">
          <div class="container">
            <div class="resource-list">
              <div class="frames fr-1">
                <img
                  src="../../../../public/icons/resources/ringing.svg"
                  alt="Sino de aviso"
                />
                <h3>Seja avisado de necessidades de sangue nos hemocentros</h3>
              </div>

              <div class="frames fr-2">
                <img
                  src="../../../../public/icons/resources/add.svg"
                  alt="Agenda"
                />
                <h3>Agende doações de sangue a qualquer momento</h3>
              </div>

              <div class="frames fr-3">
                <img
                  src="../../../../public/icons/resources/verify.svg"
                  alt="Cadastro"
                />
                <h3>Um único cadastro em todos os hemocentros parceiros</h3>
              </div>

              <div class="frames fr-4">
                <img
                  src="../../../../public/icons/resources/bulb.svg"
                  alt="Dicas"
                />
                <h3>
                  Faça pré-triagem online e receba dicas para não perder a
                  viagem
                </h3>
              </div>

              <div class="frames fr-5">
                <img
                  src="../../../../public/icons/resources/reward.svg"
                  alt="Crédito"
                />
                <h3>
                  Ganhe moedas para doar a outras causas sociais e ambientais
                </h3>
              </div>
            </div>
          </div>
        </section>

        <div class="container">
          <div class="interest">
            <p>
              <b>Gostou da novidade?</b> <br />
              Inscreva-se para ser o primeiro a ficar sabendo no lançamento.
            </p>
            <a href="./form.html" class="button button-subscribe">
              Me avise primeiro!
            </a>
          </div>
        </div>

        <!-- Apoie a causa -->
        <section id="support-us">
          <div>
            <div class="container">
              <div class="support-us-about">
                <h2>Apoie o projeto</h3>
                <p>
                  Muitas pessoas e a animais contam com seu apoio nesse projeto,
                  assim poderemos evoluir a plataforma e ajudar as causas que
                  apoiamos. Para isso abrimos um financiamento coletivo (mais
                  conhecido como crowdfunding) com total transparência onde você
                  pode ajudar nessa revolução.
                </p>
              </div>
              <div class="support-us-pricing">
                <div id="price">
                  <p>A partir de</p>
                  <h3>R$5,00</h3>
                </div>
                <p>O apoio pode ser realizado através da plataforma de crowdfunding catarse.me</p>
                <a href="#" class="button button-support-us">Apoiar</a>
              </div>
            </div>
          </div>
        </section>

        <!-- Contato -->
        <section id="contact-us">
          <div class="container">
            <div>
              <h4>Fale com a gente</h4>
              <p>Um texto aqui</p>
            </div>
            <form class="form-register" action="" method="">
              <fieldset class="group">
                <div class="field">
                  <label for="name">Qual é o seu nome?</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Digite seu nome"
                    required
                  />
                </div>

                <div class="field">
                  <label for="email">Qual teu e-mail?</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="soudemais@email.com"
                    required
                  />
                </div>

                <div class="field">
                  <label for="phone"
                    >Número de telefone</label
                  >
                  <input
                    type="phone"
                    name="phone"
                    id="phone"
                    placeholder="(DDD) 8.8888-8888"
                    maxlength="11"
                    required
                  />
                </div>

                <div class="field">
                  <label for="message">Mensagem</label>
                  <textarea
                    type="text"
                    name="message"
                    id="message"
                    rows="6"
                    placeholder="Escreva sua mensagem aqui."
                    required
                  ></textarea>
                </div>
              </fieldset>

              <button
                type="submit"
                class="button button-subscribe"
                style="width: 250px; height: 60px"
              >
                ENVIAR
              </button>

            </form>
            
          </div>
        </section>

      </main>
    </div>

    <!-- Rodapé -->
    <footer>
      <div class="footer-wrapper">
        <div class="brand">
          <a href="#">
            <img
              src="../../../../public/images/logo-white.svg"
              alt="Logo da TROPIA"
            />
          </a>
          <p>Muito mais que apenas uma doação!</p>
        </div>

        <div class="social-network">
          <p>Siga-nos:</p>
          <ul class="social-links">
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/facebook.svg"
                  alt="Facebook"
                  class="social-media-img"
                />
                Facebook
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/instagram.svg"
                  alt="Instagram"
                  class="social-media-img"
                />
                Instagram
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/twitter.svg"
                  alt="Twitter"
                  class="social-media-img"
                />
                Twitter
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../../../../public/icons/socialmedia/linkedin.svg"
                  alt="LinkedIn"
                  class="social-media-img"
                />
                Linkedin
              </a>
            </li>
          </ul>
        </div>

        <hr class="divider-solid" />

        <div class="sections">
          <div>
            <b>Saiba mais</b>

            <ul class="links">
              <li><a href="#">Quem somos</a></li>
              <li><a href="#">Entrar em contato</a></li>
              <li><a href="#">Nossa equipe</a></li>
              <li><a href="#">Ajude a construir</a></li>
            </ul>
          </div>

          <div>
            <b>Ajuda</b>

            <ul class="links">
              <li><a href="#">Central de ajuda</a></li>
              <li><a href="#">Responsabilidade e Segurança</a></li>
              <li><a href="#">Termos de uso</a></li>
              <li><a href="#">Política de privacidade</a></li>
              <li><a href="#">Créditos</a></li>
            </ul>
          </div>

          <form class="news">
            <label for="newsletter"><b>Assine nossa news</b></label>

            <fieldset>
              <input
                type="email"
                name="newsletter"
                id="newsletter"
                placeholder="Digite seu e-mail"
              />
              <button type="submit" title="Inscrever e-mail">
                <img
                  src="../../../../public/icons/resources/button-news.svg"
                  alt="Assinar newsletter"
                />
              </button>
            </fieldset>
            
            <p>Assine e receba boas notícias diretamente no seu e-mail.</p>
          </form>
        </div>

        <div class="credit">
          <p>Feito com <span class="love">♥</span> por TROPIA | 2021</p>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="../../../../public/scripts/responsive-menu.js"></script>
    <script src="../../../../public/scripts/scroll-carousel.js"></script>
  </body>
</html>
